.blog {
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;

}

@media (max-width: 600px) {
  .column {
      width: 100%;
    }
  .row:after {
    content: "";
    display: table;
    clear: both;
}
}
